<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myvideogamelist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round_custom_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyVideoGameList"
        android:usesCleartextTraffic="true">


        <activity
            android:name=".News_activity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".RandomaticActivity"
            android:exported="false" />
        <activity
            android:name=".GamesListActivity"
            android:exported="false" />
        <activity
            android:name=".GameScreenActivity"
            android:exported="false" />
        <activity
            android:name=".FirstScreenActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".UserGameRating"
            android:exported="false" />
        <activity
            android:name=".SearchActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false"/>
        <activity
            android:name=".LoadingActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".Notification.NotificationReceiver" />

        <meta-data android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo_foreground_transparent" />

    </application>

</manifest>